{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block content %}
  <h1 class='text-center my-3'>로그인</h1>
  <section class='py-3 px-5'>
    {% comment %} 에러 처리 {% endcomment %}
    {% comment %} 참고: http://daplus.net/django-django-forms-%EC%9C%A0%ED%9A%A8%ED%95%98%EC%A7%80-%EC%95%8A%EC%9D%80-%EA%B2%BD%EC%9A%B0-%EC%98%A4%EB%A5%98-%EB%A9%94%EC%8B%9C%EC%A7%80%EC%99%80-%ED%95%A8%EA%BB%98-%EC%96%91%EC%8B%9D/ {% endcomment %}
    {% if login_form.errors %}
      {% for error in login_form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <form action="" method='POST'>
          {% csrf_token %}
          <div class='mb-3'>
            <label for="id_username" class='form-label'>아이디</label>
            {{ login_form.username|add_class:'form-control'|append_attr:'placeholder:아이디'}}
          </div>
          <div class='mb-3'>
            <label for="id_password" class='form-label'>비밀번호</label>
            {{ login_form.password|add_class:'form-control'|append_attr:'placeholder:비밀번호'}}
          </div>
          <input class="btn btn-primary float-end" type="submit" value="로그인">
        </form>
      </div>
    </div>
  </section>
{% endblock content %}