{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class='text-center my-3'>비밀번호 변경</h1>
  <section class='py-3 px-5'>
    <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <form action="{% url 'accounts:change_password' %}" method='POST'>
          {% csrf_token %}
          {% bootstrap_form password_form %}
          <input class="btn btn-primary float-end" type="submit" value="변경">
        </form>
      </div>
    </div>
  </section>
{% endblock content %}