{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class='text-center my-5'>회원 목록</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">pk</th>
        <th scope="col">사용자이름</th>
        <th scope="col">이메일</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th scope="row">{{ user.pk }}</th>
          <td>
            <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
          </td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
