/* 아래에 CSS를 작성해주세요. */

/* 모든 요소 초기화 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* 카드 영역 */
.card {
  border: rgba(128, 128, 128, 0.089) 1px solid;
  width: 300px;
  margin: 5rem auto;
  padding: 0.3rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.card img {
  width: 100%;
  border-radius: 1rem;
}

.card .content {
  width: 100%;
  padding: 0.7rem;
}

.card .content h2 {
  font-size: 0.8rem;
  color: rgba(151, 148, 148, 0.7);
  margin-bottom: 0.2rem;
}

.card .content h3 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.card .content .price {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.card .content .price span {
  color: rgb(116, 209, 178);
}

.card .content .review {
  font-size: 0.8rem;
  font-weight: 900;
  color: rgba(151, 148, 148, 0.7);
}

.card .content .review span {
  color: rgba(44, 43, 43, 0.7);
}