{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class='text-center mt-5 mb-3'>회원 가입</h1>
  <section>
    <div class="card shadow p-3 mb-3 bg-body rounded">
      <div class="card-body">
        <form action="{% url 'accounts:signup' %}" method='POST'>
          {% csrf_token %}
          {% bootstrap_form signup_form %}
          <input class="btn btn-primary float-end" type="submit" value="가입">
        </form>
      </div>
    </div>
    <a class="btn btn-outline-primary mb-5 w-100" href="{% url 'accounts:login' %}" role="button">로그인페이지로 이동</a>
  </section>
{% endblock content %}