@font-face { 
  font-family: "jua";
  src: url("BMJUA.woff") format("woff");
  font-weight: normal;
} 

* {
  font-family: 'jua';
}

/* articles/index.html */
.index-article:hover {
  background-color: rgb(248, 249, 250);
}
.index-create-btn {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
}
.index-person-circle {
  color:gray;
  font-size: 2rem;
}
.index-updated-time {
  font-size: 0.7rem;
  color: rgb(186, 187, 187);
}

/* articles/detail.html */
.bi-chat {
  font-size: large;
}
.bi-chat-square-text-fill {
  font-size: 2.5rem;
  color: rgb(39, 106, 251);
}
.articles-detail-person-circle {
  color:gray;
  font-size: 2rem;
}
.articles-detail-updated-time {
  font-size: 0.7rem;
  color: rgb(186, 187, 187);
}

/* base.html */
.navbar-person-circle {
  color:gray;
  font-size: 1.5rem;
}
.navbar-person-circle:hover {
  color:rgb(94, 93, 93);
}
.detail-person-circle {
  font-size: 10rem;
  color: rgb(197, 198, 198);
}